<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
          <fa-icon [icon]="faCashRegister" class="me-2"></fa-icon>
      </div>
      <div>
        {{heading}}
        <div
          class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
        <p-button label="Vaciar carrito" icon="pi pi-trash" styleClass="p-button-warning"  (onClick)="vaciarCarrito()" badgeClass="p-badge-danger"></p-button>
    </div>
  </div>
</div>
